<section class="scroll-smooth focus:scroll-auto">
  <div class="lg:w-4/5 ml-20 mt-20 mr-30 flex flex-wrap">
    <div class="w-full text-gray-600 body-font bg-indigo-500 mt-10">
      <p class="text-white text-center text-3xl title-font font-medium">
        Education
      </p>
    </div>
    <table class="table-auto mt-10">
      <tbody>
        <tr>
          <td
            colspan="2"
            class="text-black text-left text-2xl title-font font-medium"
          >
            Anna University Chennai, Tamil Nadu, India.
          </td>
        </tr>
        <tr>
          <td class="w-1/10"></td>
          <td class="text-left w-full">
            <b>Bachelor's Degree</b> in Electronics and Communication
            Engineering.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
