<section class="scroll-smooth focus:scroll-auto">
  <div class="lg:w-4/5 ml-20 mt-20 mr-30 flex flex-wrap">
    <div class="w-full text-gray-600 body-font bg-indigo-500 mt-10">
      <p class="text-white text-center text-3xl title-font font-medium">
        Projects
      </p>
    </div>

    <div class="mt-5 p-5 bg-gray-50 border rounded-lg shadow-lg">
      <p
        class="text-black text-left text-2xl title-font font-semibold bg-blue-100 p-3 rounded-md"
      >
        <b>Commonwealth of Pennsylvania Project, Front-End Developer</b>
      </p>

      <ul class="list-disc pl-5 space-y-4 text-lg text-gray-800">
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          <strong>Designed</strong> and <strong>implemented</strong> the
          front-end of the Compass PA application using
          <strong>Angular</strong> to create a dynamic, responsive, and
          user-friendly interface.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Developed <strong>reusable</strong> and
          <strong>modular components</strong> in Angular to improve the
          maintainability and scalability of the project.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Integrated <strong>RESTful APIs</strong> with Angular services to
          interact with back-end data and ensure seamless data flow.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Used <strong>Bootstrap</strong> and custom <strong>CSS</strong> to
          create a visually appealing and accessible UI with consistent design
          patterns.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Utilized <strong>reactive forms</strong> in Angular to handle complex
          form validations and enhance the user experience.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Implemented <strong>state management</strong> using
          <strong>RxJS</strong> and <strong>Observables</strong> to efficiently
          handle asynchronous data streams.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Collaborated with the <strong>UX/UI design team</strong> to translate
          wireframes and mockups into responsive layouts using
          <strong>Flexbox</strong> and <strong>CSS Grid</strong>.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Optimized the <strong>performance</strong> of the web application by
          lazy loading Angular modules and reducing bundle sizes.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Conducted thorough testing of front-end features using
          <strong>Jasmine</strong> and <strong>Karma</strong> for unit testing,
          ensuring reliability and performance.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Integrated <strong>Google Maps API</strong> for interactive location
          tracking and visualizations within the application.
        </li>
        <li>
          <strong>Environment:</strong> Angular, TypeScript, JavaScript, HTML,
          Node.js CSS, RxJS, NgRx, Bootstrap, <strong>RESTful APIs</strong>,
          Google Maps API, Jasmine, Karma, Git.
        </li>
      </ul>
    </div>

    <div class="mt-5 p-5 bg-gray-50 border rounded-lg shadow-lg">
      <p
        class="text-black text-left text-2xl title-font font-semibold bg-blue-100 p-3 rounded-md"
      >
        <b>Shift4 Payments, QA Assurance Specialist</b>
      </p>

      <ul class="list-disc pl-5 space-y-4 text-lg text-gray-800">
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          <strong>Developed</strong> and executed
          <strong>test cases</strong> for web applications to ensure
          functionality, usability, and security.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Worked with the <strong>development team</strong> to identify and
          resolve <strong>bugs</strong> and issues using a
          <strong>bug tracking tool</strong>.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Managed and tracked test cases and defects using
          <strong>JIRA</strong> and <strong>TestRail</strong>, ensuring smooth
          communication and timely issue resolution.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Coordinated with <strong>cross-functional teams</strong> to review
          requirements, technical design documents, and implement
          <strong>quality assurance best practices</strong>.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Performed manual and automated <strong>functional testing</strong> for
          various web applications to ensure they met business requirements and
          <strong>user expectations</strong>.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Logged and tracked <strong>defects</strong> in
          <strong>MySQL</strong> and other databases, collaborating with
          developers to analyze and resolve issues.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Used <strong>SQL</strong> queries to extract and validate data from
          databases to ensure that data was processed and stored correctly.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Worked closely with <strong>product managers</strong> to understand
          product functionality, ensuring test coverage aligned with user
          stories and business needs.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Conducted <strong>regression testing</strong> to validate that new
          updates did not negatively impact the existing functionality.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Participated in <strong>daily stand-ups</strong> and provided timely
          reports on testing progress, defects, and overall product quality.
        </li>
        <li>
          <strong>Environment:</strong> JIRA, TestRail, Bug Tracking Tool,
          MySQL, SQL, Manual Testing, Regression Testing, Functional Testing,
          Git.
        </li>
      </ul>
    </div>

    <div class="mt-5 p-5 bg-gray-50 border rounded-lg shadow-lg">
      <p
        class="text-black text-left text-2xl title-font font-semibold bg-blue-100 p-3 rounded-md"
      >
        <b>Software Developer, Aislyn Technologies</b>
      </p>

      <ul class="list-disc pl-5 space-y-4 text-lg text-gray-800">
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Collaborated with <strong>senior developers</strong> to design,
          develop, and enhance the <strong>user interface</strong> of web
          applications.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Assisted in <strong>UI development</strong> using
          <strong>HTML5</strong>, <strong>CSS3</strong>, and
          <strong>JavaScript</strong> to create responsive and visually
          appealing layouts.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Worked closely with the <strong>UX/UI design team</strong> to
          implement design mockups into interactive web components and features.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Developed and maintained reusable <strong>UI components</strong> and
          templates to improve efficiency and consistency across projects.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Participated in code reviews and <strong>debugging</strong> sessions
          to ensure the quality and functionality of the user interface.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Integrated third-party libraries and APIs into the front-end
          architecture to enhance functionality and improve the user experience.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Collaborated with back-end developers to ensure smooth integration
          between front-end and back-end systems.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Wrote clean, maintainable, and efficient code following best practices
          for <strong>UI development</strong>.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Tested and optimized the user interface for
          <strong>performance</strong>, <strong>compatibility</strong>, and
          <strong>cross-browser compatibility</strong>.
        </li>
        <li>
          <span class="absolute left-0 top-0 text-2xl text-red-500">★</span>
          Participated in daily team stand-ups and sprint meetings to track
          progress and ensure timely delivery of UI components and features.
        </li>
        <li>
          <strong>Environment:</strong> HTML5, CSS3, JavaScript, Git, GitHub,
          Responsive Design, UI/UX Design, Agile Development.
        </li>
      </ul>
    </div>
  </div>
</section>
